.header-text {
    /* margin-top: -45px; */
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #0f0e0e65;
    /* position: absolute;
    left: 0;
    top: 0; */
    z-index: -1;

}